<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
 <{foreach key=ha from=$ary item=sz}>
    
    <{$ha}>:<{$sz.xh}>&nbsp;<{$ha}>:<{$sz.xm}>&nbsp;<{$ha}>:<{$sz.bj}>&nbsp;<br/>
 
 
 
 <{/foreach}>
 <hr/>
 也可以用嵌套的方法遍历：<br/>
 
  <{foreach from=$ary item=sz}>
    
     <{foreach from=$sz item=sz1}>
    
   
 <{$sz1}>&nbsp;
 
 
 <{/foreach}>
 
 <br/>
 
 <{/foreach}>
</body>
</html>